@tailwind base;
@tailwind components;

@font-face {
  font-family: Carbinet;
  src: url("../fonts/cabinet-grotesk/CabinetGrotesk-Regular.woff")
    format("woff");
}

@font-face {
  font-family: Archivo;
  src: url("../fonts/archivo/Archivo-Regular.woff") format("woff");
}

@font-face {
  font-family: Inter;
  src: url("../fonts/inter/Inter-Regular.woff") format("woff");
}


@layer utilities{
  *{
      scroll-behavior: smooth;
      -ms-overflow-style: none;
      scrollbar-width: none;
  
  }
  *::-webkit-scrollbar{
      display: none;
  }

  
}


@tailwind utilities;
